# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Resharper
_ReSharper*/
*.DotSettings.user

# NuGet
packages/
*.nupkg
project.lock.json

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Logs y temporales
*.log
*.tmp
*.cache
